# python 
# doc.python.org 를 수시로 참고

In [31]:
a = 1
a

1

- '='는 assign or binding이라 부른다,

* python에서 왼쪽은 식별자(identifier) 라고 부른다.

In [19]:
print =1 
print
# 만약 print라는 식별자에 1이라는 값을 넣으면,

1

In [20]:
print("Hi")
# print는 더이상 함수가 아니라 1이라는 값이 되어, TypeError가 발생한다.

TypeError: 'int' object is not callable

In [21]:
del print
print("hi")
# del로 int 1이 할당된 print를 식별자를 지운 후 함수 사용

hi

* 식별자의 이름을 정할 때 PEP8 이라는 규칙을 따른다.
* PEP8 = Python Enhancement Proposal 8
#### 1. 강제규칙 (이름앞에 숫자 x, _를 제외하고 특수문자 사용 x)
#### 2. 권장규칙 
#### 으로 분류된다

In [22]:
1a = 1
# 이름앞에 숫자가 있으면 안된다.

SyntaxError: invalid syntax (<ipython-input-22-cc67e5ecf289>, line 1)

In [25]:
$a = 1
# 이름앞에 특수문자 사용 불가

SyntaxError: invalid syntax (<ipython-input-25-50557aba91b3>, line 1)

In [30]:
_a =1 
_a
# 하지만 _는 사용가능하다

1

* 상수 = 재할당 할 수 없는 값
* python에서는 재할당 할 수 없는 값이 없다 => 내부적으로 상수가 없음
* 관례상 상수처럼 쓰고 싶을 때는 모든 문자를 대문자로 써라. (상수처럼 간주)

# PEP8 (이름 붙이기)
1. snake  
ex) load_iris   소문자+'_'+소문자 => 함수의 이름 
2. pascal  
처음이 대문자
ex) KNeighborsCalssifier
3. camel  
처음이 소문자 
ex) myCar => 클래스 이름

# mutable과 immutable
- mutable은 값이 변할 수 있다. (List, dictionary)
- immutable 값이 변하지 않는다. (숫자, stringm tuple)

In [40]:
a = 1
a

1

In [42]:
a = b = 1
b

1

In [45]:
b=2
b

2

In [46]:
a
# a가 2가 아니라 1인 이유를 생각해보자

1

### 재할당

In [78]:
a = 1000
b = 1000

id(a)

2061492363024

In [79]:
id(b)

2061492362064

In [80]:
# 숫자를 재할당하면 값이 들어가는 메모리공간이 바뀐다.
a = 1000
id(a)

2061492362096

mutable타입은 값은 바뀌지만, 메모리공간(id)는 안바뀐다. <br>
mutable타입에서, id()는 첫번째 번지를 가르키는 c의 포인터 개념이다.

In [95]:
a = [1,2]
id(a)

2061504980360

In [96]:
a.append(3)
a

[1, 2, 3]

In [97]:
id(a)

2061504980360

#### 동시에 할당하기

In [99]:
x, y = 1,2 
x

1

In [100]:
y

2

In [101]:
x,y = y,x 
print(x)
print(y)

2
1

In [102]:
x = 1,2,3,4
print(x)
# 여러개를 대입하면 튜플로 할당됨

(1, 2, 3, 4)

In [103]:
#한개만 튜플에 넣고싶을 때 
x = 1,
print(x)

(1,)

In [105]:
x,y = 1,2,3,4
# 식별자 개수와 값 개수가 다르면 error발생

ValueError: too many values to unpack (expected 2)

#### 나머지를 할당하는 방법 (* 사용)

In [106]:
x,*y = 1,2,3,4
print(x)
print(y)
# y는 list

1
[2, 3, 4]

In [107]:
*x,y = 1,2,3,4
print(x)
print(y)
# x는 list

[1, 2, 3]
4

In [108]:
*x,y,z = 1,2,3,4
print(x)
print(y)
print(z)
# x는 list

[1, 2]
3
4

#### *는 값의 개수에 따라 바뀌는 가변성을 갖기 때문에 리스트로 할당된다.

In [109]:
*x = 1,2,3,4
#error 발생

SyntaxError: starred assignment target must be in a list or tuple (<ipython-input-109-be2b6b900ad0>, line 4)

In [111]:
*x, = 1,2,3,4
print(x)
#튜플을 리스트로 바꿀 때 주로 사용

[1, 2, 3, 4]

In [113]:
x =1 
x +=2
print(x)
++x
print(x)
# 4를 기대했지만 3이나옴 => ++할당은 사용하지않음 (부호로 사용됨)

3
3

In [114]:
x++
#에러발생,  ++가 앞에 있으면 부호의 역할을 하기 떄문에 에러x

SyntaxError: invalid syntax (<ipython-input-114-280238ff5072>, line 1)

# keyword 
#### dir( ) : 해당 패키지의 명령어들 확인

In [115]:
import keyword
dir( keyword )

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [116]:
keyword.kwlist
# kwlist : python 객체지향 명령어(keyword 패키지)의 keyword list

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [117]:
nonlocal global 
#함수의 scope를 정해줌 
#글씨체가 두꺼우면 keyword

SyntaxError: invalid syntax (<ipython-input-117-3729ef44d13d>, line 1)

In [118]:
nonlocal, globals
#  s가 붙은 globals(얉은 초록)은  built-in

SyntaxError: invalid syntax (<ipython-input-118-dbc3ac3d8693>, line 1)

In [119]:
__builtins__
# import 없이 사용가능

# 파이썬의 자료구조
#### 4가지의 숫자가 있다. 
#### 정수 실수 복소수 bool
#### 파이썬에서 값을 만드는 방법 두가지 1. 객체를 인스턴스  2. 리터럴 방식

# python types (숫자형)
- int
- float
- complex
- bool

### int

In [67]:
a =1 
type(a)

int

In [120]:
import sys
sys.maxsize

9223372036854775807

In [121]:
sys.maxsize +100
sys.maxsize
# 에러는 나지 않지않음

9223372036854775807

### float
#### float는 리터럴을 사용해서 두가지 방법으로 만들 수 있다.
#### 1. '.'을 이용해서 만드는 방법

In [51]:
a = 1.
a

1.0

In [53]:
a = .1 
a

0.1

#### 2. e를 이용하는 방법

In [55]:
a = 3e3
a

3000.0

#### float의 범위 표현

In [69]:
import sys
sys.float_info.max

1.7976931348623157e+308

In [71]:
x = 1.7976931348623157e+308
y = x+1

In [73]:
x == y
# false를 예상했지만 True가 출력됨 
# 1.7976931348623157e+308 는 너무큰수라서 1 더해도 변화 미미

True

In [75]:
y = x*10

In [77]:
x == y
# 10배를 곱하는 건 의미가 있나부다

False

### 부동소수점

In [122]:
a = 0.1+0.1
a

0.2

In [123]:
a = 0.1+0.1 + 0.1
a
# 부동소수점 연산 떄문에 차이발생

0.30000000000000004

### complex

In [57]:
a = 3 +2j
a

(3+2j)

### bool

In [62]:
# bool은 숫차처럼 계산이 가능하다.
True + True

2

In [63]:
type(True)

bool

In [64]:
issubclass(bool, int)
#bool class는 int class를 상속받음 따라서 bool을 숫자로 취급

True

In [65]:
True *3

3

# python types (숫자형)
- str
- bytes
- byte array

1. 유니코드 문자열(str) mutable

In [125]:
a = '문근영'
a

'문근영'

In [126]:
type(a)

str

2. ASCII 문자열(bytes) immutable

In [128]:
a = b'문근영'
# bytes타입은 영어+숫자만 입력가능

SyntaxError: bytes can only contain ASCII literal characters. (<ipython-input-128-925ea22d336e>, line 1)

In [130]:
a = b'asd'
a

b'asd'

In [131]:
type(a)

bytes

3. 아스키(ASCII) 문자열 (bytearray)

In [133]:
b = bytearray(b'moon')

In [135]:
b
# byte는 통신 규약때문에 자주 씀

bytearray(b'moon')

# 컨테이너(Container)